*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  font-size: 20px;
}

a {
  text-decoration: none;
  font-family: $button-font;
}

body {
  background: $body-color;
  font-family: $main-font;
  color: $paragraph-font-color;
  margin: 0;
  padding: 0;
}

section {
  width: calc(100% - 330px);
  margin: 20px 0 20px 280px;
  background-color: #fff;
  box-shadow: 0 0 1em $sidebar-main-color;
}

@media (max-width: 767px) {
  section {
    width: calc(100% - 40px);
    // margin: 0;

    margin: auto;
  }
}

// @media (min-width: 0px) and (max-width: 499px)
// @media (min-width: 500px) and(max-width: 767px)
// @media (min-width: 768px) and(max-width: 991px)
// @media (min-width: 992px) and(max-width: 1024px)
// @media (min-width: 1025px) and(max-width: 1250px)
