.details {
  h3 {
    padding: 20px;
    border-bottom: 1px $sidebar-items-font-color solid;
  }

  .details-field {
    width: 100%;

    .details-table {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      width: 100%;

      .date-picker {
        position: relative;
        height: 100px;
        width: 100%;
        border-bottom: 1px $sidebar-items-font-color solid;

        .date-inputs {
          position: absolute;
          height: 45px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 500px;

          input {
            height: 100%;
            width: 200px;
            border-radius: 5px;
          }

          .fa-calendar-alt {
            color: $paragraph-font-color;
            font-size: 20px;
            margin-left: 20px;

            &:hover {
              color: $sidebar-main-color;
            }
          }

          .fa-undo-alt {
            padding: 10px;
            background-color: $main-color;
            color: #fff;
            font-size: 20px;
            margin-left: 20px;
            border-radius: 5px;

            &:hover {
              background-color: darken($color: $main-color, $amount: 10%);
            }
          }
        }
      }

      .scroll-wrapper {
        width: 100%;

        table {
          width: 95%;
          text-align: center;
          margin: 50px 0;

          .table-heading:hover {
            cursor: pointer;
            background-color: $table-hover;
          }

          .table-row:hover {
            cursor: pointer;
            background-color: $table-hover;
          }
          tr {
            border-bottom: 1px $sidebar-items-font-color solid;
          }

          th {
            padding: 10px;
            border-bottom: 1px solid $sidebar-items-font-color;
          }

          td {
            padding: 20px;
          }
        }
      }

      .detail-pages {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        font-size: 20px;
        margin-bottom: 30px;

        i {
          margin: 0 20px 40px;
          top: 10%;
          color: $sidebar-items-font-color;
        }

        .page-number {
          a {
            text-decoration: none;
            margin: 5px;
            padding: 5px 15px;

            &:hover {
              cursor: pointer;
              background-color: $table-hover;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 499px) {
  .details {
    .details-field {
      .details-table {
        display: inline;

        .date-picker {
          .date-inputs {
            width: 285px;
            left: 51%;

            input {
              height: 100%;
              width: 80px;
              border-radius: 5px;
            }
          }
        }

        .scroll-wrapper {
          overflow-x: auto;
          padding: 20px;
        }
        .detail-pages {
          .page-number {
            a {
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 500px) and(max-width: 767px) {
  .details {
    .details-field {
      .details-table {
        display: inline;

        .date-picker {
          .date-inputs {
            width: 450px;

            input {
              height: 100%;
              width: 150px;
            }
          }
        }

        .scroll-wrapper {
          overflow-x: auto;
          padding: 20px;
        }
      }
    }
  }
}

@media (min-width: 768px) and(max-width: 991px) {
  .details {
    .details-field {
      .details-table {
        display: inline;

        .date-picker {
          .date-inputs {
            width: 350px;
            left: 56%;

            input {
              height: 100%;
              width: 100px;
            }
          }
        }

        .scroll-wrapper {
          overflow-x: auto;
          padding: 20px;
        }
      }
    }
  }
}

@media (min-width: 992px) and(max-width: 1024px) {
  .details {
    .details-field {
      .details-table {
        display: inline;

        .date-picker {
          .date-inputs {
            width: 500px;
            left: 58%;

            input {
              height: 100%;
              width: 150px;
            }
          }
        }

        .scroll-wrapper {
          overflow-x: auto;
          padding: 20px;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .details {
    .details-field {
      .details-table {
        display: inline;

        .date-picker {
          .date-inputs {
            input {
              height: 100%;
              width: 180px;
            }
          }
        }

        .scroll-wrapper {
          overflow-x: auto;
          padding: 20px;
        }
      }
    }
  }
}
