.details {
  h3 {
    padding: 20px;
    border-bottom: 1px $sidebar-items-font-color solid;
  }

  .details-field {
    .details-table {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;

      .date-picker {
        position: relative;
        height: 100px;
        width: 100%;
        border-bottom: 1px $sidebar-items-font-color solid;

        .date-inputs {
          position: absolute;
          height: 45px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-width: 500px;

          input {
            height: 100%;
            width: 200px;
            border-radius: 5px;
          }

          .fa-calendar-alt {
            color: $paragraph-font-color;
            font-size: 20px;
            margin-left: 20px;

            &:hover {
              color: $sidebar-main-color;
            }
          }

          .fa-undo-alt {
            padding: 10px;
            background-color: $main-color;
            color: #fff;
            font-size: 20px;
            margin-left: 20px;
            border-radius: 5px;

            &:hover {
              background-color: darken($color: $main-color, $amount: 10%);
            }
          }
        }
      }

      table {
        width: 95%;
        text-align: center;
        margin: 50px 0;

        .table-heading:hover {
          cursor: pointer;
          background-color: $table-hover;
        }

        .table-row:hover {
          cursor: pointer;
          background-color: $table-hover;
        }
        tr {
          border-bottom: 1px $sidebar-items-font-color solid;
        }

        th {
          padding: 10px;
          border-bottom: 1px solid $sidebar-items-font-color;
        }

        td {
          padding: 20px;
          text-align: left;
        }
      }

      .detail-pages {
        display: flex;
        flex-flow: row nowrap;
        font-size: 20px;

        i {
          margin: 0 20px 40px;
          top: 10%;
          color: $sidebar-items-font-color;
        }

        .page-number {
          a {
            text-decoration: none;
            margin: 5px;
            padding: 5px 15px;

            &:hover {
              cursor: pointer;
              background-color: $table-hover;
            }
          }
        }
      }
    }
  }
}
