.new-postback {
  h3 {
    padding: 20px;
    border-bottom: 1px $sidebar-items-font-color solid;
  }

  .postback-parameters {
    border-bottom: 1px $sidebar-items-font-color solid;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;

    p {
      width: 100%;
      margin: 16px;
    }

    label {
      position: absolute;
      display: block;
      font-weight: 700;
      margin: 50px 0 0 20px;

      &:last-of-type {
        margin-left: 51%;
      }
    }

    textarea {
      height: 200px;
      width: calc(50% - 40px);
      margin: 50px 15px 30px;
      padding: 10px;
    }
  }

  .postback-details {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 33%;
    border-bottom: 1px $sidebar-items-font-color solid;

    label {
      position: absolute;
      top: 14%;
      left: 34%;
      font-weight: 700;

      &:first-of-type {
        left: 1.5%;
      }

      &:last-of-type {
        left: 65.5%;
      }
    }

    select {
      margin: 70px 20px;
      width: calc(32% - 40px);
      height: 45px;
    }
  }

  .postback-status {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    border-bottom: 1px $sidebar-items-font-color solid;

    p {
      position: absolute;
      font-weight: 700;
      padding: 20px;
      left: 1%;

      &:last-of-type {
        left: 52%;
      }

      span {
        color: red;
      }
    }

    .statuses {
      width: 50%;
      height: 200px;
      margin: 70px 20px;
      overflow: auto;

      .status {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;

        label {
          display: inline-block;
          justify-content: space-between;
          align-items: center;
          margin: 20px;
          width: 70%;
        }

        // input[type='checkbox'] {
        //   margin: 20px;
        //   height: 20px;
        //   width: 20px;

        //   .icon {
        //     display: inline-block;
        //     width: 14px;
        //     height: 14px;
        //     border: 2px solid $online-color;
        //   }

        //   &:checked .icon {
        //     background-color: $online-color;
        //   }
        // }

        &:hover {
          background-color: $table-hover;
        }
      }
    }

    .send-delay {
      border-left: 1px $sidebar-items-font-color solid;
      position: relative;
      width: calc(50% - 40px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .create-pixel-btn {
    text-decoration: none;
    padding: 10px 10px;
    background-color: $main-color;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 15px 15px 15px 88%;

    &:hover {
      background-color: darken($color: $main-color, $amount: 10%);
    }
  }
}

@media (min-width: 0px) and (max-width: 499px) {
  .new-postback {
    h3 {
    }

    .postback-parameters {
      flex-flow: column wrap;
      p {
        width: 80%;
      }

      label {
        position: relative;
        margin: 20px 0 0 20px;

        &:last-of-type {
          margin-left: 20px;
        }
      }

      textarea {
        margin: 20px 15px 10px;
        width: calc(100% - 40px);
      }
    }

    .postback-details {
      flex-flow: column wrap;

      label {
        margin: 10px 0 0 20px;
        left: 0;
        position: relative;

        &:first-of-type {
          margin-top: 30px;
          left: 0;
        }

        &:last-of-type {
          left: 0;
        }
      }

      select {
        margin: 20px;
        width: calc(100% - 40px);

        &:last-of-type {
          margin-bottom: 50px;
        }
      }
    }

    .postback-status {
      flex-flow: column wrap;

      p {
        position: relative;
        left: 0;

        &:last-of-type {
          left: 0;
        }
      }

      .statuses {
        width: 90%;
        margin: 1px 10px;
      }

      .send-delay {
        width: 100%;

        img {
          width: 300px;
        }
      }
    }

    .create-pixel-btn {
      margin: 15px 15px 15px 55%;
    }
  }
}

@media (min-width: 500px) and(max-width: 767px) {
  .new-postback {
    h3 {
    }

    .postback-parameters {
      flex-flow: column wrap;
      p {
        width: 80%;
      }

      label {
        position: relative;
        margin: 20px 0 0 20px;

        &:last-of-type {
          margin-left: 20px;
        }
      }

      textarea {
        margin: 20px 15px 10px;
        width: calc(100% - 40px);
      }
    }

    .postback-details {
      flex-flow: column wrap;

      label {
        margin: 10px 0 0 20px;
        left: 0;
        position: relative;

        &:first-of-type {
          margin-top: 30px;
          left: 0;
        }

        &:last-of-type {
          left: 0;
        }
      }

      select {
        margin: 20px;
        width: calc(100% - 40px);

        &:last-of-type {
          margin-bottom: 50px;
        }
      }
    }

    .postback-status {
      flex-flow: column wrap;

      p {
        position: relative;
        left: 0;

        &:last-of-type {
          left: 0;
        }
      }

      .statuses {
        width: 100%;
        margin: 1px 10px;
      }

      .send-delay {
        width: 100%;

        img {
          width: 450px;
        }
      }
    }

    .create-pixel-btn {
      margin: 15px 15px 15px 65%;
    }
  }
}

@media (min-width: 768px) and(max-width: 991px) {
  .new-postback {
    h3 {
    }

    .postback-parameters {
      flex-flow: column wrap;
      p {
        width: 80%;
      }

      label {
        position: relative;
        margin: 20px 0 0 20px;

        &:last-of-type {
          margin-left: 20px;
        }
      }

      textarea {
        margin: 20px 15px 10px;
        width: calc(100% - 40px);
      }
    }

    .postback-details {
      flex-flow: column wrap;

      label {
        margin: 10px 0 0 20px;
        left: 0;
        position: relative;

        &:first-of-type {
          margin-top: 30px;
          left: 0;
        }

        &:last-of-type {
          left: 0;
        }
      }

      select {
        margin: 20px;
        width: calc(100% - 40px);

        &:last-of-type {
          margin-bottom: 50px;
        }
      }
    }

    .postback-status {
      flex-flow: column wrap;

      p {
        position: relative;
        left: 0;

        &:last-of-type {
          left: 0;
        }
      }

      .statuses {
        width: 100%;
        margin: 1px 10px;
      }

      .send-delay {
        width: 100%;

        img {
          width: 300px;
        }
      }
    }

    .create-pixel-btn {
      margin: 15px 15px 15px 55%;
    }
  }
}
@media (min-width: 992px) and(max-width: 1024px) {
  .new-postback {
    .postback-status {
      flex-flow: column wrap;

      p {
        position: relative;
        left: 0;

        &:last-of-type {
          left: 0;
        }
      }

      .statuses {
        width: 100%;
        margin: 1px 10px;
      }

      .send-delay {
        width: 100%;

        img {
          width: 500px;
        }
      }
    }

    .create-pixel-btn {
      margin: 15px 15px 15px 75%;
    }
  }
}
@media (min-width: 1025px) {
  .new-postback {
    .postback-status {
      flex-flow: row wrap;

      p {
        position: absolute;
        left: 1%;

        &:last-of-type {
          left: 57%;
        }
      }

      .statuses {
        width: 50%;
        margin: 70px 20px;
      }

      .send-delay {
        width: calc(50% - 40px);

        img {
          width: 300px;
        }
      }
    }

    .create-pixel-btn {
      margin: 15px 15px 15px 77%;
    }
  }
}
