.hidden {
  display: none;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5010;
  overflow: auto;
  padding: 30px;
}

.login-popup {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 5020;

  h3 {
    width: 100%;
    padding: 20px;
    border-bottom: 1px $sidebar-items-font-color solid;
  }

  .login-details {
    margin: 10px 0 0 30px;
    position: relative;

    input {
      height: 45px;
      margin: 30px 0 50px;
      padding-left: 10px;
    }
    i {
      position: absolute;
      top: 35%;
      left: 34%;

      &:last-of-type {
        left: 73%;
      }
    }
    .login-btn {
      text-decoration: none;
      padding: 10px 30px;
      background-color: $main-color;
      color: #fff;
      font-size: 20px;
      border-radius: 5px;
      text-align: center;

      &:hover {
        background-color: darken($color: $main-color, $amount: 10%);
      }
    }
  }
}

.personal-chat-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 5020;

  .popup-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px $sidebar-items-font-color solid;

    h3 {
      padding: 10px;
      margin: 0;
    }

    span {
      font-size: 30px;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: $sidebar-items-font-color;
        cursor: pointer;

        &:hover {
          color: $sidebar-items-font-color;
        }
      }
    }
  }
  .recepient-info {
    display: inline-flex;

    img {
      margin: 10px;
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
    }

    .recepient-status {
      font-family: $main-font;
      margin-bottom: 25px;

      .recepient-name {
        font-size: 25px;
        font-weight: 700;
        padding: 10px;
        margin: 0;
        border: 0;
      }
      .online {
        text-align: center;
        font-size: 10px;
        background-color: $online-color;
        color: #fff;
        width: 50px;
        border-radius: 3px;
        padding: 5px;
        margin: -5px 0 0 10px;
      }
    }
  }

  .messages-display {
    border-top: 1px $sidebar-items-font-color solid;
    border-bottom: 1px $sidebar-items-font-color solid;
    height: 250px;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .message-you {
      display: inline-block;
      // color: #fff;
      background-color: #a0e1ff;
      // border: 2px solid #fff;
      padding: 20px;
      border-radius: 20px;
      // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
      position: relative;
      margin-bottom: 30px;

      &:after {
        content: '';
        display: block;
        background-color: #a0e1ff;
        // border: 2px solid #fff;
        border-width: 0 2px 2px 0;
        width: 20px;
        height: 24px;
        // box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: -10%;
        left: 32%;
        // background-color: #a0e1ff;
        transform: rotate(45deg);
      }
    }

    .message-recepient {
      display: inline-block;
      // color: #fff;
      background-color: #ffdb99;
      // border: 2px solid #fff;
      padding: 20px;
      border-radius: 20px;
      // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
      position: relative;
      margin-bottom: 30px;

      &:after {
        content: '';
        display: block;
        background-color: #ffdb99;
        // border: 2px solid #fff;
        border-width: 0 2px 2px 0;
        width: 20px;
        height: 24px;
        // box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: -10%;
        left: 32%;
        // background-color: #a0e1ff;
        transform: rotate(45deg);
        // background-color: #ffdb99;
      }
    }
  }
  .post-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    input {
      height: 45px;
      margin: 10px;
      width: 85%;
      padding-left: 10px;
    }

    i {
      position: absolute;
      top: 37%;
      left: 77.5%;
    }

    .chat-send-btn {
      width: 15%;
      height: 45px;
      margin-right: 10px;
      text-decoration: none;
      padding: 10px 10px;
      background-color: $main-color;
      color: #fff;
      font-size: 20px;
      border-radius: 5px;
      text-align: center;

      &:hover {
        background-color: darken($color: $main-color, $amount: 10%);
      }
    }
  }
}

.quit-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 5020;

  p {
    padding: 20px;
    border-bottom: 1px $sidebar-items-font-color solid;
  }

  div {
    display: flex;
    justify-content: flex-end;
    margin: 20px;

    .cancel-btn {
      text-decoration: none;
      padding: 10px 30px;
      background-color: $sidebar-items-font-color;
      color: #fff;
      font-size: 20px;
      border-radius: 5px;
      text-align: center;
      margin-right: 10px;

      &:hover {
        background-color: darken(
          $color: $sidebar-items-font-color,
          $amount: 10%
        );
      }
    }

    .quit-btn,
    .login-btn {
      text-decoration: none;
      padding: 10px 10px;
      background-color: $main-color;
      color: #fff;
      font-size: 20px;
      border-radius: 5px;
      text-align: center;

      &:hover {
        background-color: darken($color: $main-color, $amount: 10%);
      }
    }
  }
}

.add-links-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 5020;

  .popup-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px $sidebar-items-font-color solid;

    h3 {
      padding: 10px;
      margin: 0;
    }

    span {
      font-size: 30px;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: $sidebar-items-font-color;
      }
    }
  }

  .select-field {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;

    .select-scheme-name {
      width: 85%;

      label {
        display: block;
        font-weight: 700;
        margin: 5px 0 0 15px;
      }

      input,
      select {
        height: 45px;
        width: calc(50% - 40px);
        margin: 15px;
        padding: 10px;
      }
    }
    .select-language {
      width: 15%;

      label {
        display: block;
        font-weight: 700;
        margin-top: 5px;
      }

      select {
        height: 45px;
        width: 90%;
        margin: 8px 15px 15px 0;
        padding: 10px;
      }
    }
    .select-websites {
      width: 100%;
      height: 100%;

      label {
        display: block;
        font-weight: 700;
        margin: 5px 0 5px 10px;
      }

      .websites {
        display: flex;
        flex-flow: row wrap;
        flex: 0 0 33%;
        height: 380px;
        overflow: auto;
        border-top: 1px $sidebar-items-font-color solid;
        border-bottom: 1px $sidebar-items-font-color solid;

        .website {
          width: 33%;
          display: flex;
          flex-flow: row wrap;

          label {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            font-weight: 700;
            width: 100%;
            text-align: left;

            input[type='checkbox'] {
              position: absolute;
              margin: 15px;
              height: 15px;
              width: 15px;
              opacity: 0;

              + .icon {
                display: inline-block;
                margin: 15px;
                height: 15px;
                width: 15px;
                border: 1px solid $paragraph-font-color;
                border-radius: 2px;
              }

              &:checked + .icon {
                background-color: $online-color;
              }
            }

            p {
              height: 15px;
              width: calc(100% - 90px);
              margin-top: 11px;
            }

            i {
              margin: 15px 10px 10px 10px;
              cursor: pointer;
              height: 15px;
            }
          }

          // input[type='checkbox']:checked + label {
          //   background: $online-color;
          //   font-style: normal;
          // }

          &:hover {
            background-color: $table-hover;
          }
        }
      }
    }
  }
  .generated-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    input {
      width: calc(100% - 230px);
      height: 47px;
      margin: 5px;
    }
    .copy-btn {
      text-decoration: none;
      padding: 10px 10px;
      background: $online-color;
      color: #fff;
      font-size: 20px;
      border-radius: 5px;
      text-align: center;
      margin: 5px;
    }
    .enter-btn {
      text-decoration: none;
      padding: 10px 10px;
      background-color: $main-color;
      color: #fff;
      font-size: 20px;
      border-radius: 5px;
      text-align: center;
      margin: 5px;

      &:hover {
        background-color: darken($color: $main-color, $amount: 10%);
      }
    }
  }
}

.add-banners-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 5020;

  .popup-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px $sidebar-items-font-color solid;

    h3 {
      padding: 10px;
      margin: 0;
    }

    span {
      font-size: 30px;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: $sidebar-items-font-color;
      }
    }
  }

  .select-field {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;

    .select-scheme-name {
      width: 85%;

      label {
        position: absolute;
        font-weight: 700;
        margin: 5px 0 0 15px;
      }

      input,
      select {
        height: 45px;
        width: calc(50% - 40px);
        margin: 45px 0 0 15px;
        padding: 10px;
      }
    }
    .select-language {
      width: 15%;

      label {
        display: block;
        font-weight: 700;
        margin-top: 5px;
      }

      select {
        height: 45px;
        width: 90%;
        margin: 8px 15px 15px 0;
        padding: 10px;
      }
    }
  }

  .banner-details {
    width: 100%;
    margin: auto;
    border-bottom: 1px $sidebar-items-font-color solid;

    label {
      position: absolute;
      font-weight: 700;
      margin: 5px 0 0 15px;
    }

    input,
    select {
      height: 45px;
      min-width: calc(32% - 10px);
      margin: 45px 0 20px 15px;
      padding: 10px;
    }
  }
  .select-banners,
  .select-websites {
    width: 50%;
    height: 380px;
    overflow: auto;

    .banner,
    .b-website {
      label {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-weight: 700;
        width: 100%;
        text-align: left;

        input[type='checkbox'] {
          position: absolute;
          margin: 15px;
          height: 15px;
          width: 15px;
          opacity: 0;

          + .icon {
            display: inline-block;
            margin: 15px;
            height: 15px;
            width: 15px;
            border: 1px solid $paragraph-font-color;
            border-radius: 2px;
          }

          &:checked + .icon {
            background-color: $online-color;
          }
        }

        p {
          height: 15px;
          width: calc(100% - 90px);
          margin-top: 11px;
        }

        i {
          margin: 15px 10px 10px 10px;
          cursor: pointer;
          height: 15px;
        }
      }

      &:hover {
        background-color: $table-hover;
      }
    }
  }

  .generated-link {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 5px;
    border-top: 1px $sidebar-items-font-color solid;

    input {
      width: calc(100% - 230px);
      height: 47px;
      margin: 5px;
    }

    .copy-btn {
      text-decoration: none;
      padding: 10px 10px;
      background: $online-color;
      color: #fff;
      font-size: 20px;
      border-radius: 5px;
      text-align: center;
      margin: 5px;
    }

    .enter-btn {
      text-decoration: none;
      padding: 10px 10px;
      background-color: $main-color;
      color: #fff;
      font-size: 20px;
      border-radius: 5px;
      text-align: center;
      margin: 5px;

      &:hover {
        background-color: darken($color: $main-color, $amount: 10%);
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 499px) {
  .login-popup {
    width: 90%;

    .login-details {
      margin: 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;

      input {
        margin: 10px 0 20px;
      }

      i {
        top: 11%;
        left: 87%;

        &:last-of-type {
          top: 46%;
          left: 86%;
        }
      }

      .login-btn {
        margin: 10px;
      }
    }
  }

  .personal-chat-popup {
    width: 100%;
    .post-message {
      input {
        width: 85%;
      }
      i {
        left: 73.5%;
      }
    }
  }

  .add-links-popup {
    width: 100%;
    height: auto;
  }

  .add-banners-popup {
    width: 100%;
  }
}

@media (min-width: 500px) and(max-width: 767px) {
  .login-popup {
    width: 60%;

    .login-details {
      margin: 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      input {
        margin: 10px 0 20px;
      }

      i {
        top: 11%;
        left: 87%;

        &:last-of-type {
          top: 46%;
          left: 86%;
        }
      }

      .login-btn {
        margin: 10px;
      }
    }
  }

  .personal-chat-popup {
    width: 90%;

    .post-message {
      i {
        left: 75.5%;
      }
    }
  }

  .add-links-popup {
    width: 100%;
    height: auto;

    .select-field {
      .select-scheme-name {
        border-bottom: 1px $sidebar-items-font-color solid;
        width: 100%;

        input,
        select {
          width: calc(100% - 40px);
          margin-bottom: 20px;
        }
      }
      .select-language {
        width: 100%;

        label {
          margin: 5px 0 0 15px;
        }

        select {
          width: calc(100% - 40px);
          margin: 15px;
        }
      }
      .select-websites {
        height: 400px;

        .websites {
          flex-flow: row wrap;
          flex: 0 0 100%;

          .website {
            justify-content: space-between;
            width: 100%;
            flex-flow: row nowrap;
          }
        }
      }
    }
    .generated-link {
      margin: 20px 0 10px;
    }
  }

  .add-banners-popup {
    width: 100%;

    .select-field {
      .select-scheme-name {
        border-bottom: 1px $sidebar-items-font-color solid;
        width: 100%;
        label {
          position: relative;
        }

        input,
        select {
          width: calc(100% - 40px);
          margin: 25px 0 10px 15px;
        }
      }
      .select-language {
        width: 100%;
        border-bottom: 1px $sidebar-items-font-color solid;

        label {
          margin: 5px 0 0 15px;
        }

        select {
          width: calc(100% - 40px);
          margin: 15px;
        }
      }
    }

    .banner-details {
      label {
        position: relative;

        &:first-of-type {
          margin-top: 20px;
        }
      }

      input,
      select {
        width: calc(100% - 40px);
        margin: 25px 0 10px 15px;

        &:last-of-type {
          margin-bottom: 20px;
        }
      }
    }

    .select-banners {
      border-bottom: 1px $sidebar-items-font-color solid;
    }

    .select-banners,
    .select-websites {
      height: 400px;
      width: 100%;
      padding-bottom: 20px;

      .banner,
      .b-website {
        flex-flow: row wrap;
        flex: 0 0 100%;
      }
    }

    .generated-link {
      input {
        width: calc(100% - 200px);
      }

      .copy-btn {
        font-size: 14px;
      }

      .enter-btn {
        font-size: 14px;
      }
    }
  }

  .quit-popup {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .login-popup {
    width: 85%;

    .login-details {
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      input {
        margin: 10px 10px 20px;
      }
      .login-btn {
        margin: 0 0 1.5% 3%;
      }
    }
  }

  .personal-chat-popup {
    width: 80%;
  }
}

.add-links-popup {
  width: 80%;
  height: auto;

  .select-field {
    .select-scheme-name {
      width: 85%;

      input,
      select {
        width: calc(50% - 40px);
        margin-bottom: 20px;
      }
    }

    .select-language {
      width: 15%;

      label {
        margin: 5px 0 0 15px;
      }

      select {
        width: calc(100% - 40px);
        margin: 15px;
      }
    }

    .select-websites {
      height: 400px;

      .websites {
        flex-flow: row wrap;
        flex: 0 0 50%;

        .website {
          width: 50%;
          flex-flow: row nowrap;
        }
      }
    }
  }
  .generated-link {
    margin: 20px 0 10px;
  }
}

.add-banners-popup {
  width: 80%;

  .select-field {
    .select-scheme-name {
      border-bottom: 1px $sidebar-items-font-color solid;
      width: 85%;

      input,
      select {
        width: calc(50% - 40px);
      }
    }
    .select-language {
      width: 15%;
      border-bottom: 1px $sidebar-items-font-color solid;

      label {
        margin: 5px 0 0 15px;
      }

      select {
        width: calc(100% - 40px);
        margin: 15px;
      }
    }
  }

  .banner-details {
    input,
    select {
      width: calc(33% - 40px);

      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }

  .select-banners {
    border-bottom: 1px $sidebar-items-font-color solid;
  }

  .select-banners,
  .select-websites {
    height: 400px;
    width: 50%;
    padding-bottom: 20px;

    .banner,
    .b-website {
      flex-flow: row wrap;
      flex: 0 0 50%;
    }
  }

  .generated-link {
    input {
      width: calc(100% - 200px);
    }

    .copy-btn {
      font-size: 20px;
    }

    .enter-btn {
      font-size: 20px;
    }
  }
}

// @media (min-width: 992px) and(max-width: 1024px)
// @media (min-width: 1025px) and(max-width: 1250px)
