.st-container {
  z-index: 5000;
  min-width: 250px;
  max-width: 250px;
  // overflow: auto;
  position: relative;
  transition: 1s;

  .st-pusher {
    min-width: 250px;
    max-width: 250px;

    .sidebar-wrapper {
      top: 0;
      position: fixed;
      align-items: stretch;
      min-width: 250px;
      max-width: 250px;
      min-height: 100vh;
      background-color: $sidebar-main-color;

      .sidebar-header {
        position: relative;
        height: 74px;
        padding: 20px;
        color: $sidebar-label-font-color;
        font-family: $sidebar-label-font;
        display: flex;
        justify-content: space-between;

        #sidebar-show {
          background-color: $main-color;
        }

        .sidebar-hide {
          position: absolute;
          color: white;
          z-index: 5001;
          margin: 30px;
          font-size: 40px;
          top: 20%;
          left: 80%;
          border-radius: 10px;
        }
      }

      .list-unstyled {
        min-width: 250px;
        max-width: 250px;

        li {
          a {
            display: block;
            text-decoration: none;
            color: $sidebar-items-font-color;

            i {
              height: 10px;
              width: 10px;
              margin: 20px;
            }
          }
          &:hover {
            background-color: #3f3f3f;
            border-left: 8px $main-color solid;
            a {
              color: $sidebar-label-font-color;
            }
          }
          &:last-of-type {
            margin-bottom: 30px;
          }
        }
      }

      .friends {
        border-top: 1px $sidebar-items-font-color solid;

        .sidebar-label {
          margin: 30px 0 20px 20px;
          color: $sidebar-label-font-color;
          font-weight: 700;
        }
        li {
          min-width: 250px;
          max-width: 250px;

          a {
            text-decoration: none;
            color: $sidebar-items-font-color;
            display: flex;
            flex-wrap: nowrap;

            span {
              position: relative;

              img {
                margin: 10px;
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
              }

              &:after {
                content: '';
                position: absolute;
                display: block;
                top: 13%;
                left: 64%;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: $online-color;
              }
            }

            &:hover {
              background-color: #3f3f3f;
              p {
                color: $sidebar-label-font-color;
              }
            }
          }
        }

        p {
          margin: 20px 0 15px 0;
        }
      }
    }
  }
}

// #sidebar.active {
//   margin-left: -250px;
// }

// Transform effect

// .st-effect-14.st-container {
//   -webkit-perspective: 1500px;
//   perspective: 1500px;
//   -webkit-perspective-origin: 0% 50%;
//   perspective-origin: 0% 50%;
// }

// .st-effect-14 .st-pusher {
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;
// }

// .st-effect-14.st-menu-open .st-pusher {
//   -webkit-transform: translate3d(300px, 0, 0);
//   transform: translate3d(300px, 0, 0);
// }

// .st-effect-14.st-menu {
//   -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
//   transform: translate3d(-100%, 0, 0) rotateY(90deg);
//   -webkit-transform-origin: 0% 50%;
//   transform-origin: 0% 50%;
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;
// }

// .st-effect-14.st-menu-open .st-effect-14.st-menu {
//   visibility: visible;
//   -webkit-transition-delay: 0.1s;
//   transition-delay: 0.1s;
//   -webkit-transition-timing-function: ease-in-out;
//   transition-timing-function: ease-in-out;
//   -webkit-transition-property: -webkit-transform;
//   transition-property: transform;
//   -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
//   transform: translate3d(-100%, 0, 0) rotateY(0deg);
// }

// RWD
// @media (min-width: 0px) and (max-width: 499px) {
//   .st-container {
//     // display: none;
//   }
// }

@media (min-width: 0px) and(max-width: 767px) {
  .st-container {
    margin-left: -250px;

    #sidebar-show {
      margin-left: 210px;
    }
  }

  .st-container.active {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;

    #sidebar-show {
      font-size: 30px;
      width: 70px;
      height: 70px;
      margin-left: -280px;
      margin-top: 20px;
    }

    .st-pusher {
      min-width: 100%;
      max-width: 100%;

      .sidebar-wrapper {
        position: relative;
        min-width: 100%;
        max-width: 100%;
        font-size: 30px;
        z-index: 6000;

        .sidebar-header {
          h3 {
            font-size: 50px;
            margin-top: 30px;
          }
        }

        .list-unstyled {
          margin-top: 60px;
          min-width: 100%;
          max-width: 100%;

          li {
            text-align: center;
            padding: 30px;
            margin: 0;

            &:first-of-type {
              margin-top: 50px;
            }

            &:last-of-type {
              margin-bottom: 50px;
            }

            a {
              font-size: 40px;
            }
          }
          i {
            padding-right: 40px;
            margin: 10px 20px 10px 10px;
          }
        }

        .friends {
          p {
            margin: 20px 0 15px 40px;
          }

          .sidebar-label {
            font-size: 40px;
            margin: 40px;
          }

          li {
            min-width: 100%;
            max-width: 100%;

            a {
              margin: 60px;
              font-size: 40px;

              span {
                img {
                  width: 100px;
                  height: 100px;
                }

                &:after {
                  top: 5%;
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
        }

        .from-navbar {
          width: 100%;
          border-top: 1px $sidebar-items-font-color solid;

          .sidebar-label {
            font-size: 40px;
            margin: 100px 60px 60px;
            color: $sidebar-label-font-color;
            font-weight: 700;
          }

          .nav-item {
            min-width: 100%;
            max-width: 100%;
            text-align: center;

            .nav-link {
              font-size: 40px;
              color: $sidebar-items-font-color;

              &:hover {
                background-color: #3f3f3f;
                border-left: 8px $main-color solid;
                a {
                  color: $sidebar-label-font-color;
                }
              }

              i {
                font-size: 40px;
                padding: 40px;
              }
            }

            span:after {
              top: 5%;
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .st-container {
    margin-left: -250px;

    #sidebar-show {
      margin-right: -70px;
    }

    .from-navbar {
      width: 100%;
      border-top: 1px $sidebar-items-font-color solid;

      .sidebar-label {
        font-size: 20px;
        margin: 30px 0 20px 20px;
        color: #fff;
        font-weight: 700;
      }

      .nav-item {
        min-width: 100%;
        max-width: 100%;
        text-align: center;

        .nav-link {
          color: $sidebar-items-font-color;

          &:hover {
            background-color: #3f3f3f;
            border-left: 8px $main-color solid;
            a {
              color: $sidebar-label-font-color;
            }
          }

          i {
            font-size: 20px;
            padding: 10px 0;
          }
        }

        span:after {
          top: 5%;
          width: 10px;
          height: 10px;
        }
      }
    }

    &.active {
      margin-left: 0;

      #sidebar-show {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 991px) {
  .from-navbar {
    display: none;
  }
}
